<launch>

    <!-- ARGUMENTS -->
    <arg name="use_sim_time" default="false"/>
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.5" />
    <!-- PARAMETERS -->
    <param name="robot_description" textfile="/media/enrique/ae414e9e-3895-46c8-92d6-d4cb9803e8e8/enrique/Road-Lane-Detection-ROS-turtlebot3/src/race/robot/robot.urdf" />   

    <!-- INCLUDE FILES -->

    <!-- NODES -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />    
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model myrobot -x 1.696650 -y 0.227938 -z $(arg z) -Y 1.574531" />

</launch>
